In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('./titanic.csv')

In [4]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [5]:
not_useful=['PassengerId','Name','Ticket','Cabin','Embarked']

In [60]:
data=df

In [61]:
clean_data=data.drop(columns=not_useful)

In [62]:
Y=clean_data['Survived']

In [63]:
X=clean_data.drop(columns='Survived')

In [64]:
from sklearn.preprocessing import LabelEncoder

In [65]:
le=LabelEncoder()

In [66]:
X['Sex']=le.fit_transform(X['Sex'])

In [67]:
X

     Pclass  Sex   Age  SibSp  Parch      Fare
0         3    1  22.0      1      0    7.2500
1         1    0  38.0      1      0   71.2833
2         3    0  26.0      0      0    7.9250
3         1    0  35.0      1      0   53.1000
4         3    1  35.0      0      0    8.0500
5         3    1   NaN      0      0    8.4583
6         1    1  54.0      0      0   51.8625
7         3    1   2.0      3      1   21.0750
8         3    0  27.0      0      2   11.1333
9         2    0  14.0      1      0   30.0708
10        3    0   4.0      1      1   16.7000
11        1    0  58.0      0      0   26.5500
12        3    1  20.0      0      0    8.0500
13        3    1  39.0      1      5   31.2750
14        3    0  14.0      0      0    7.8542
15        2    0  55.0      0      0   16.0000
16        3    1   2.0      4      1   29.1250
17        2    1   NaN      0      0   13.0000
18        3    0  31.0      1      0   18.0000
19        3    0   NaN      0      0    7.2250
20        2    1  35.0      0      0   26.0000
21        2    1  34.0      0      0   13.0000
22        3    0  15.0      0      0    8.0292
23        1    1  28.0      0      0   35.5000
24        3    0   8.0      3      1   21.0750
25        3    0  38.0      1      5   31.3875
26        3    1   NaN      0      0    7.2250
27        1    1  19.0      3      2  263.0000
28        3    0   NaN      0      0    7.8792
29        3    1   NaN      0      0    7.8958
..      ...  ...   ...    ...    ...       ...
861       2    1  21.0      1      0   11.5000
862       1    0  48.0      0      0   25.9292
863       3    0   NaN      8      2   69.5500
864       2    1  24.0      0      0   13.0000
865       2    0  42.0      0      0   13.0000
866       2    0  27.0      1      0   13.8583
867       1    1  31.0      0      0   50.4958
868       3    1   NaN      0      0    9.5000
869       3    1   4.0      1      1   11.1333
870       3    1  26.0      0      0    7.8958
871       1    0  47.0      1      1   52.5542
872       1    1  33.0      0      0    5.0000
873       3    1  47.0      0      0    9.0000
874       2    0  28.0      1      0   24.0000
875       3    0  15.0      0      0    7.2250
876       3    1  20.0      0      0    9.8458
877       3    1  19.0      0      0    7.8958
878       3    1   NaN      0      0    7.8958
879       1    0  56.0      0      1   83.1583
880       2    0  25.0      0      1   26.0000
881       3    1  33.0      0      0    7.8958
882       3    0  22.0      0      0   10.5167
883       2    1  28.0      0      0   10.5000
884       3    1  25.0      0      0    7.0500
885       3    0  39.0      0      5   29.1250
886       2    1  27.0      0      0   13.0000
887       1    0  19.0      0      0   30.0000
888       3    0   NaN      1      2   23.4500
889       1    1  26.0      0      0   30.0000
890       3    1  32.0      0      0    7.7500

[891 rows x 6 columns]

In [69]:
X['Age'].mean()

29.69911764705882

In [70]:
X=X.fillna(X['Age'].mean())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
Pclass    891 non-null int64
Sex       891 non-null int64
Age       891 non-null float64
SibSp     891 non-null int64
Parch     891 non-null int64
Fare      891 non-null float64
dtypes: float64(2), int64(4)
memory usage: 41.8 KB

In [49]:
type(X['Age'][5])

numpy.float64

In [100]:
a="chirag"

In [101]:
a[0]

'c'

In [102]:
b='saks'

In [103]:
c=b[0]+a[1:]

In [105]:
a="c"

In [106]:
id(a)

140458848709856

In [107]:
a="b"

In [108]:
id(a)

140458848263448