In [2]:
import cv2
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

data_1=[]
data=[]
tata=[]
tata_1=[]
result=[]
#Reading the csv files
pokemon_data=pd.read_csv('./Dataset/Pokemon/Training/train.csv')
test=pd.read_csv('./Dataset/Pokemon/Testing/test.csv')
test=np.array(test)
sample=pd.read_csv('./Dataset/Pokemon/Testing/Sample_submission.csv')
#Reading data
pokemon_data=np.array(pokemon_data)
img=os.listdir('./Dataset/Pokemon/Training/Images')
#img=cv2.cvtColor(img,cv2.COLOR_BAYER_BG2GRAY)
img=np.sort(img)
img=np.array(img)
Y=pokemon_data[:,[1]]
cnt=0
#Loading Training images
for i in range(img.shape[0]):
    d=cv2.imread('./Dataset/Pokemon/Training/Images/'+img[i])
    d=cv2.resize(d,(30,30))
    data.append(d)
X=np.array(data)
#Loading Testing Images   
for i in range(test.shape[0]):
    t=cv2.imread('./Dataset/Pokemon/Testing/Images/'+test[i][0])
    t=cv2.resize(t,(30,30))
    tata.append(t)
te=np.array(tata)


#KNN CODE
def distance(p1,p2):
    return np.sum((p2 - p1)**2)**.5

def knn(X,Y,test,k=5):
    m = X.shape[0]
    result=[]
    d = []
    for i  in range(m):
        dist = distance(test,X[i])
        d.append((dist,Y[i]))
    
    d = np.array(sorted(d))[:,1]
    d = d[:k]
    t =  np.unique(d,return_counts=True)
    idx = np.argmax(t[1])
    pred = str(t[0][idx])
    result.append(pred)
    return result


for i in range(test.shape[0]):
    result.append(knn(X,Y,te[i],k=5))

In [8]:
import csv
with open('mycsv.csv','w',newline='')as f:
    fieldnames=['ImageId','NameOfPokemon']
    thewriter=csv.DictWriter(f,fieldnames=fieldnames)
    thewriter.writeheader()
    for i in range(sample.shape[0]):
        thewriter.writerow({'ImageId':str(test[i]),'NameOfPokemon':str(result[i])})

In [15]:
mycsv=pd.read_csv('./mycsv.csv')

In [13]:
sample.head(10)

    ImageId NameOfPokemon
0  1106.jpg       Pikachu
1  2236.jpg       Pikachu
2  1131.jpg       Pikachu
3  2221.jpg       Pikachu
4  2011.jpg       Pikachu
5  2030.jpg       Pikachu
6  2035.jpg       Pikachu
7  1110.jpg       Pikachu
8  1104.jpg       Pikachu
9  2217.jpg       Pikachu

In [16]:
mycsv.head()

    ImageId NameOfPokemon
0  1106.jpg     Bulbasaur
1  2236.jpg    Charmander
2  1131.jpg     Bulbasaur
3  2221.jpg       Pikachu
4  2011.jpg    Charmander

()